p, h1, h2, h3, h4, h5, h6, div {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /*font-family: 'Fuzzy Bubbles B', Fuzzy Bubbles, Arial, sans-serif !important;*/
    color: #14171a;
}

body, html {
    height: 100%;
}

main {
    flex: 1;
}

.a {
    color: #e5c07b;
    text-decoration: underline;
}

.rows {
    display: flex;
    justify-content: center;
}

.main-page {
    background: #282c34;
    justify-content: center;
    margin: auto;
    width: 670px;
}

.border-all {
    border-style: solid;
    border-width: 5px;
    border-color: #1b2125;
}

.title {
    background-color: #2d323a;
    width: 350px;
    height: 110px;
    align-items: center;
    font-size: 84px;
    justify-content: center;
    text-align: center;
    margin: 75px auto 0;
    color: #ee586b;
}

.sub-title {
    background-color: #2d323a;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    margin: 55px auto 0;
    color: #ee586b;
}

.about-me {
    margin-top: 25px;
    margin-left: 9px;
    background-color: #2d323a;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.red-words {
    color: #ee586b;
}

.purple-words {
    color: #c35edd;
}

.green-words {
    color: #89c86f;
}

.blue-words {
    color: #52abef;
}

.yellow-words {
    color: #e5c07b;
}

.text-additions {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    color: #abb0b6;
}

.skills {
    margin-top: 25px;
    height: 150px;
    background-color: #2d323a;
    text-align: center;
    align-content: center;
    flex-grow: 3;
}

.projects-size {
    display: flex;
    margin-top: 25px;
    height: 150px;
    background-color: #2d323a;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.project-left {
    margin-right: 5px;
}

.project-right {
    margin-left: 4px;
}

.links-section {
    margin-top: 25px;
    height: 100px;
    background-color: #2d323a;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.image-style {
    margin-top: 25px;
    width: 150px;
    height: 150px;
}

.image-style-left {
    border-right: solid;
    border-width: 5px;
    border-color: #1b2125;
}

.projects-image {
    width: 140px;
    height: 140px;
}

